src/main/resources/items.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="items">
        <xs:complexType>
            <xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="item"/>
            </xs:sequence>
        </xs:complexType>
		<xs:unique name="UniqueItemName">
			<xs:selector xpath="item"/>
			<xs:field xpath="@name"/>
		</xs:unique>
    </xs:element>

	<xs:element name="item">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="price" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>